menu "Hardware Drivers Config"

menu "Onboard Peripheral Drivers"

config SOC_STM32MP157D
    bool
    select SOC_SERIES_STM32MP1
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

config BSP_USING_USART
    bool "Enable USART (uart4)"
    select BSP_USING_UART
    select BSP_USING_UART4
    default y

    menuconfig BSP_USING_UART
        bool "Enable UART"
        select RT_USING_SERIAL
        default y
        if BSP_USING_UART
            config BSP_USING_UART4
                bool "Enable UART4"
                default n

            config BSP_UART4_RX_USING_DMA
                bool "Enable UART4 RX DMA"
                depends on BSP_USING_UART4 && RT_SERIAL_USING_DMA
                default n
        endif
endmenu

endmenu
